@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@layer base {

    *,
    ::before,
    ::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: #202022;
        -webkit-font-smoothing: antialiased;
    }

    body::-webkit-scrollbar {
        width: 0.4rem;
    }

    body::-webkit-scrollbar-thumb {
        background: #2E2E35;
    }

    body,
    input,
    textarea,
    button {
        font-family: 'Baloo 2', sans-serif;
        color: #eee;
        font-weight: 400;
    }

}

@layer components {
    .custom-marker-icon {
        @apply rounded-full overflow-hidden border-2 border-gray-500
    }

    .custom-scroll-bar {
        scrollbar-width: thin;
        scrollbar-color: #F0F4F5 transparent;
        overflow-y: scroll;
    }


    .custom-scroll-bar::-webkit-scrollbar {
        width: 0.4rem;
    }

    .custom-scroll-bar::-webkit-scrollbar-thumb {
        background: #F0F4F5;
    }
}